* {
	text-decoration: none;
	color: black;
	font-family: Nunito;
}

body {
	display: grid;
	margin: 0;
}

section {
	border: 1px solid black;
	height: 800px;
	display: grid;
}

header {
	height: 1fr;
	display: grid;
	grid-template-columns: 2fr 5fr;
}

nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1.3fr 1fr 1fr 1.5fr;
}

div.nm {
	padding: 30px;
	text-align: center;
}

.active {
	color: #DAA520;
}

.logo>a {
	display: grid;
	grid-template-columns: 30px 154px;
	margin: 24px 0 0 80px;
	grid-column-gap: 8px;
}

.logo>a>img {
	width: 30px;
}

.logo>a>h1 {
	letter-spacing: 0.25em;
	align-self: center;
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	width: 154px;
}

#signup {
	border: 1px solid black;
	padding: 10px 35px;
	border-radius: 10px;
}

section#main {
	height: 720px;
	grid-template-columns: repeat(2, 1fr);
}

div.text {
	margin-left: 100px;
	grid-template-rows: repeat(3, 1fr);
	align-self: center;
}

div.text>a {
	background-color: orange;
	border: 1px solid orange;
	border-radius: 2px;
	padding: 10px;
}